{{range $value := .}}

type {{$value.Message.GoIdent.GoName}}Flag struct{
    *{{$value.Message.GoIdent.GoName}}

    changed bool
}

func(x *{{$value.Message.GoIdent.GoName}}Flag) ParseFlags(parent *pflag.FlagSet, args []string) {
    set := pflag.NewFlagSet("{{$value.Message.GoIdent.GoName}}", pflag.ContinueOnError)
    parent.AddFlagSet(set)
    flagIndexes := fieldIndexes(args, {{$value.NestedFlagNames}})

    {{range $value.Flags -}}
        {{if not .Message -}}
    {{.FlagConstructor}}
        {{else -}}
            {{if not .IsList -}}
    {{.VarName}} := &{{.Message.Type}}Flag{ {{.Message.Type}}: new({{.Message.Type}}) }
            {{else -}}
    {{.VarName}} := make([]*{{.Message.Type}}Flag, len(flagIndexes.byName("{{.FieldNamePrivate}}")))
            {{end -}}
        {{end -}}
    {{end}}


    if err := set.Parse(flagIndexes.primitives().args); err != nil {
		DefaultConfig.Logger.Error("failed to parse flags", "cause", err)
		os.Exit(1)
	}

    {{range $value.Flags}}
        {{if .Message -}}
            {{if not .IsList -}}
    if flagIdx := flagIndexes.lastByName("{{.FieldNamePrivate}}"); flagIdx != nil {
    	{{.VarName}}.ParseFlags(set, flagIdx.args)
    }
            {{end -}}
        {{end -}}
    {{end -}}

    {{range $value.Flags}}
        {{if .Message -}}
            {{if not .OneOf -}}
                {{if .IsList -}}
    for i, flagIdx := range flagIndexes.byName("{{.FieldNamePrivate}}") {
    	{{.VarName}}[i] = new({{.Message.Type}}Flag)
    	{{.VarName}}[i].ParseFlags(set, flagIdx.args)
    }
                {{end -}}
            {{end -}}
        {{end -}}
    {{end -}}

    {{range $value.Flags -}}
        {{if not .OneOf -}}
            {{if .IsPrimitive -}}
    if {{.VarName}}.Changed() {
        x.changed = true
        x.{{.Name}} = {{if not .IsPtr}}*{{end}}{{.VarName}}.Value
    }
            {{else -}}
                {{if .IsList -}}
    if len({{.VarName}}) > 0 {
        x.changed = true
        x.{{.Name}} = make([]*{{.Message.Type}}, len({{.VarName}}))
        for i, value := range {{.VarName}} {
            x.{{.Name}}[i] = value.{{.Message.Type}}
        }
    }
                {{else}}
    if {{.VarName}}.Changed() {
        x.changed = true
        x.{{.Name}} = {{.VarName}}.{{.Message.Type}}
    }
                {{end}}
            {{end -}}
        {{end -}}
    {{end -}}

    {{range $oneOf := $value.OneOfs}}
    switch fieldIndexes(args, {{$oneOf.FieldNames}}).last().flag {
        {{range .Flags -}}
        case "{{.FieldNamePrivate}}":
            {{if .IsPrimitive -}}
            if {{.VarName}}.Changed() {
                x.changed = true
                x.{{$oneOf.FieldName}} = &{{.Type}}{ {{.FieldName}}: *{{.VarName}}.Value }
            }
            {{else -}}
                {{if .IsList -}}
    if len({{.VarName}}) > 0 {
        x.{{.Name}} = make([]*{{.Message.Type}}, len({{.VarName}}))
        for i, value := range {{.VarName}} {
            x.changed = true
            x.{{$oneOf.FieldName}}[i] = value.{{.Message.Type}}
        }
    }
                {{else -}}
    if {{.VarName}}.Changed() {
        x.changed = true
        x.{{$oneOf.FieldName}} = &{{.Type}}{ {{.FieldName}}:  {{.VarName}}.{{.Message.Type}} }
    }
                {{end -}}
            {{end -}}
        {{end -}}
    }
    {{end -}}
}

func(x *{{$value.Message.GoIdent.GoName}}Flag) Changed() bool {
    return x.changed
}

{{end}}